<div class="space-y-4 flex-col">
    <a href="deposit"
        class="flex-1 block bg-white text-center text-lg font-semibold text-gray-800 rounded-lg shadow-md hover:bg-gray-100 transition duration-200 py-3">
        Deposit
    </a>
    <a href="withdraw"
        class="flex-1 block bg-white text-center text-lg font-semibold text-gray-800 rounded-lg shadow-md hover:bg-gray-100 transition duration-200 py-3">
        Withdraw
    </a>
    <a href="transfer"
        class="flex-1 block bg-white text-center text-lg font-semibold text-gray-800 rounded-lg shadow-md hover:bg-gray-100 transition duration-200 py-3">
        Transfer
    </a>
    <a href="airtime"
        class="flex-1 block bg-white text-center text-lg font-semibold text-gray-800 rounded-lg shadow-md hover:bg-gray-100 transition duration-200 py-3">
        Airtime
    </a>
    <a href="#"
        class="flex-1 block bg-white text-center text-lg font-semibold text-gray-800 rounded-lg shadow-md hover:bg-gray-100 transition duration-200 py-3">
        <i>coming soon</i>
    </a>
</div>